@model WeeklyReport.Models.User
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DialogLayout.cshtml";
}
<div class="form-horizontal">
    <table class="table table-condensed table-bordered table-striped">
        <thead>
            <tr>
                <th>User<hr /></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                </td>
                <td>
                    <div class="form-actions">
                        @Html.DisplayFor(model => model.Name)
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.RoleId, new { @class = "control-label col-md-2" })</td>
                <td>
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.RoleId)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.CreateDate, new { @class = "control-label col-md-2" })
                </td>
                <td>
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.CreateDate)
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="form-group">
                <td>
                    @Html.LabelFor(model => model.UpdateDate, new { @class = "control-label col-md-2" })
                </td>
                <td>
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.UpdateDate)
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
