@model WeeklyReport.Models.User
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DialogLayout.cshtml";
}
    <div class="form-panel">
        <table class="table table-condensed table-bordered table-striped">
            <thead>
                <tr>
                    <th colspan="2"><h2>User Details</h2><hr/></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        <div class="form-actions">
                            @Html.DisplayFor(model => model.Name)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.RoleId, new { @class = "control-label col-md-2" })</td>
                    <td>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.RoleId)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.CreateDate, new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.CreateDate)
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.UpdateDate, new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.UpdateDate)
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
<div>
    <input type="button" class="btn btn-default" value="Edit" onclick="location.href='/user/Edit?id=@Model.UserId'" />
    <input type="button" class="btn btn-default" value="Back to List" onclick="window.close()" />
</div>
