@using System.Web.UI.WebControls
@using AutoMapper.Internal
@{
    ViewBag.Title = "CalendarDialog";
    var data = ViewData;
}
@*<div class="panel panel-primary">
        <div class=" panel-heading">
        <h3 class="panel-title">新建日程</h3>
    </div>
        <div class="panel-body">
            <label>Project: </label>
            <div class="text-center">
                <span>@ViewBag.ProjectTitle</span>
            </div>
            <br />
            Schedule:<textarea class="form-control" rows="3" ></textarea>
            <br/>
            StartTime: @ViewBag.StartTime
            <br />
            EndTime:<input type="text" id="endTime"  readonly/>
            <div class="sub_btn">
                <span class="del">
                    <input type="button" class="btn btn_del"
                           id="del_event" value="删除">
                </span>
                <input type="submit" class="btn btn_ok" value="确定">
                <input type="button" class="btn btn_cancel" value="取消" onclick="$.fancybox.close()">
            </div>
        </div>
    </div>*@
<div class="row-fluid sortable">
    <div class="page-header-top" style="background: @ViewData["Color"];width: 520px;height: 5px"></div>
    <h3 class="panel-title">新建日程</h3>

    <div class="box span12" style="margin: 0;" id="@ViewData["Id"]">
        <!--<div class="box-header well" data-original-title>
                <h2><i class="icon-edit"></i> Form Elements</h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                </div>
            </div>-->
        <div class="box-content">
            <form class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="appendedInput">Project Name: </label>
                        <div class="controls">
                            <label class="control-label" style="text-align: left">@ViewData["ProjectTitle"]</label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="appendedPrependedInput">Shedule: </label>
                        <div class="controls">
                            <textarea class="autogrow" style="width: 270px; resize: none" id="textAreaInfo">@ViewData["body"]</textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="prependedInput">StartTime: </label>
                        <div class="controls">
                            <input class="input-xlarge focused" id="startTime" type="text" readonly />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="prependedInput">EndTime: </label>
                        <div class="controls">
                            <input class="input-xlarge focused" type="text" id="endTime" readonly />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div><!--/span-->
    <div>
        <p class="btn-group" style="float: right;margin-top: 8px;">
            <button class="btn" id="submitThisShedule">确认</button>
            <button class="btn" onclick="$.fancybox.close()">取消</button>
            <button class="btn" id="deleteThisShedule" value="click">删除</button>
        </p>
    </div>
</div>
<script>
    $(document).ready(function () {

        function getLocalTime(nS) {
            return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/, ' ');
        }

        $("#startTime").val(getLocalTime(@ViewData["StartTime"]));
        $("#endTime").val(getLocalTime(@ViewData["EndTime"]));

        $('#deleteThisShedule').click(function () {
            var workItem = {
                'calendarId': '@ViewData["calendarId"]', //event.id,
                'title': '@ViewData["ProjectTitle"]',
                'itemId': '@ViewData["workItemId"]',
                'projectName': '@ViewData["ProjectTitle"]',
                'start': '@ViewData["StartTime"]',
                'end': '@ViewData["EndTime"]',
                'duration': '@ViewData["duration"]',
                'color': '@ViewData["Color"]',
                'allDay': '@ViewData["allDay"]',
                'body': $('#textAreaInfo').val()
            };
            if (confirm("Are you sure to delete this WorkItem?")) {
                removeWorkItem(workItem, function (response) {
                    if (response && response != "fail") {
                        var id = '@ViewData["Id"]';
                        $('#calendar').fullCalendar('removeEvents', [id]);
                        $.fancybox.close();
                    }
                });
            }
        });
        $('#submitThisShedule').click(function ()
        {
            var workItem = {
                'calendarId': '@ViewData["calendarId"]',//event.id,
                'title': '@ViewData["ProjectTitle"]',
                'itemId': '@ViewData["workItemId"]',
                'projectName': '@ViewData["ProjectTitle"]',
                'start': '@ViewData["StartTime"]',
                'end': '@ViewData["EndTime"]',
                'duration': '@ViewData["duration"]',
                'color': '@ViewData["Color"]',
                'allDay': '@ViewData["allDay"]',
                'body': $('#textAreaInfo').val()
            };
            updateWorkItem(workItem, function (response) {
                if (response && response != "fail") {
                    alert('success');
                    $.fancybox.close();
                }
            });
        });
    });
    //更新workItem的函数
    function updateWorkItem(workItem, callback) {
        $.ajax({
            url: '/Calendar/UpdateWorkItem',
            type: 'Post',
            data: workItem,
            success: function (response) {
                callback(response);
            },
            error: function (msg) {
                //  revertFunc();
            },
        });
    }
    //添加workItem的函数
    function removeWorkItem(workItem, callback) {
        $.ajax({
            url: '/Calendar/DelWorkItem',
            type: 'Post',
            data: workItem,
            success: function (response) {
                callback(response);
            },
            error: function (msg) {
                //  revertFunc();
            },
        });
    }
</script>